In [6]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import time
import re
from tqdm import tqdm

In [2]:
driver = webdriver.Chrome('./chromedriver')

/var/folders/t4/mshvhv3s59d9gnrd0g3tm7pm0000gn/T/ipykernel_15175/2299280398.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('./chromedriver')

In [ ]:
url = "https://www.tripadvisor.com/Restaurants-g32655-Los_Angeles_California.html"
driver.get(url)

## Restaurant Name / URL

In [5]:
driver.find_element(By.XPATH,'//*[@id="component_2"]/div/div[2]/div/span/div[1]/div[2]/div[2]/div/span/a').text

'1. n/naka'

In [10]:
driver.find_elements(By.CLASS_NAME,'Lwqic.Cj.b')[1].text

'1. n/naka'

In [18]:
# Check number to avoid advs
import re
bool(re.search("[0-9.]+",driver.find_elements(By.CLASS_NAME,'Lwqic.Cj.b')[2].text))

True

In [23]:
print(driver.find_elements(By.CLASS_NAME,'Lwqic.Cj.b')[1].get_attribute('href'))

https://www.tripadvisor.com/Restaurant_Review-g32655-d3701882-Reviews-N_naka-Los_Angeles_California.html

## Restaurant Review Grade

In [39]:
rs = driver.find_element(By.CLASS_NAME,'YtrWs')
rs.find_elements(By.CLASS_NAME,'YHnoF.Gi.o')[1].find_element(By.CLASS_NAME,'UctUV.d.H0').get_attribute('aria-label').split(" ")[0]

'5.0'

## Restaurant Review Count

In [42]:
rs = driver.find_element(By.CLASS_NAME,'YtrWs')
rs.find_elements(By.CLASS_NAME,'YHnoF.Gi.o')[1].find_element(By.CLASS_NAME,'IiChw').text.split(' ')[0]

'173'

## Restaurant Cuisine

In [49]:
rs = driver.find_element(By.CLASS_NAME,'YtrWs')
rs.find_elements(By.CLASS_NAME,'YHnoF.Gi.o')[1].find_element(By.CLASS_NAME,'nrKLE.PQvPS.bAdrM').find_elements(By.CLASS_NAME,'ABgbd')[0].text

'Japanese, Sushi'

## Restaurant Price

In [50]:
rs = driver.find_element(By.CLASS_NAME,'YtrWs')
rs.find_elements(By.CLASS_NAME,'YHnoF.Gi.o')[1].find_element(By.CLASS_NAME,'nrKLE.PQvPS.bAdrM').find_elements(By.CLASS_NAME,'ABgbd')[1].text

'$$$$'

## Restaurant One Page Crawling

In [86]:
names=[]
starStr=[]
numReviewsStr=[]
cuisine=[]
priceRangeStr=[]


for restaurant in driver.find_elements(By.CLASS_NAME, "YHnoF.Gi.o"):
    if(not (bool(re.search("[0-9]+", restaurant.get_attribute("data-test"))))):
        continue
    names.append(restaurant.find_element(By.CLASS_NAME, "Lwqic.Cj.b").text)
    starStr.append(restaurant.find_element(By.CLASS_NAME, "UctUV.d.H0").get_attribute("aria-label"))
    numReviewsStr.append(restaurant.find_element(By.CLASS_NAME, "IiChw").text)
    cuisine.append(None)
    priceRangeStr.append(None)
    for extraInfo in restaurant.find_element(By.CLASS_NAME, "nrKLE.PQvPS.bAdrM").find_elements(By.CLASS_NAME, "ABgbd"):
        if("$" in extraInfo.text):
            priceRangeStr[-1]=extraInfo.text
        else:
            cuisine[-1]=extraInfo.text
    
print(names)
print(starStr)
print(numReviewsStr)
print(cuisine)
print(priceRangeStr)

print(len(names))
print(len(starStr))
print(len(numReviewsStr))
print(len(cuisine))
print(len(priceRangeStr))

df = pd.DataFrame({"Name":names, "Cuisine":cuisine, "Review":numReviewsStr, "Point":starStr, "Price":priceRangeStr})
df

['1. n/naka', '2. Raffaello Ristorante', '3. Providence', "4. Brent's Deli Northridge", "5. Langer's", '6. Cafe Gratitude Venice', '7. Maccheroni Republic', '8. Sushi Gen', '9. Toast Bakery Cafe', '10. The Luggage Room Pizzeria', '11. Angelini Osteria', '12. Magic Castle', '13. Pampas Grill', "14. Russell's", '15. Craft Los Angeles', '16. Lemonade', "17. Raffi's Place Restaurant", '18. Din Tai Fung', '19. SUGARFISH by sushi nozawa', '20. Parkway Grill', '21. Nickel Diner', '22. The Griddle Cafe', '23. Republique', "24. Foxy's Restaurant", "25. Truxton's American Bistro", "26. Houston's", "27. Aliki's Greek Taverna", "28. Gale's Italian Restaurant and Bar", '29. Alcove Cafe & Bakery', '30. Musso & Frank Grill']
['5.0 of 5 bubbles', '4.5 of 5 bubbles', '4.5 of 5 bubbles', '4.5 of 5 bubbles', '4.5 of 5 bubbles', '4.5 of 5 bubbles', '4.5 of 5 bubbles', '4.5 of 5 bubbles', '4.5 of 5 bubbles', '4.5 of 5 bubbles', '4.5 of 5 bubbles', '4.5 of 5 bubbles', '4.5 of 5 bubbles', '4.5 of 5 bubbles', '4.5 of 5 bubbles', '4.5 of 5 bubbles', '4.5 of 5 bubbles', '4.5 of 5 bubbles', '4.5 of 5 bubbles', '4.5 of 5 bubbles', '4.5 of 5 bubbles', '4.5 of 5 bubbles', '4.5 of 5 bubbles', '4.5 of 5 bubbles', '4.5 of 5 bubbles', '4.5 of 5 bubbles', '4.5 of 5 bubbles', '4.5 of 5 bubbles', '4.5 of 5 bubbles', '4.5 of 5 bubbles']
['173 reviews', '278 reviews', '796 reviews', '1,556 reviews', '836 reviews', '486 reviews', '359 reviews', '482 reviews', '402 reviews', '248 reviews', '512 reviews', '402 reviews', '324 reviews', '425 reviews', '510 reviews', '421 reviews', '438 reviews', '489 reviews', '418 reviews', '342 reviews', '295 reviews', '1,588 reviews', '593 reviews', '446 reviews', '268 reviews', '662 reviews', '442 reviews', '405 reviews', '354 reviews', '1,269 reviews']
['Japanese, Sushi', 'Italian', 'Seafood', 'American, Deli', 'American, Deli', 'American, Cafe', 'Italian, European', 'Japanese, Sushi', 'American, Cafe', 'Italian, Pizza', 'Italian', 'American', 'Brazilian, Barbecue', 'American', 'American', 'American', 'Mediterranean, Middle Eastern', 'Chinese, Asian', 'Japanese, Seafood', 'American, Contemporary', 'American, Diner', 'American, Cafe', 'French, American', 'American', 'American, Bar', 'American, Sushi', 'Mediterranean, Greek', 'Italian', 'American, Cafe', 'Steakhouse, American']
['$$$$', '$$ - $$$', '$$$$', '$$ - $$$', '$$ - $$$', '$$ - $$$', '$$ - $$$', '$$ - $$$', '$$ - $$$', '$$ - $$$', '$$ - $$$', '$$$$', '$', '$$ - $$$', '$$$$', '$$ - $$$', '$$ - $$$', '$$ - $$$', '$$ - $$$', '$$$$', '$$ - $$$', '$$ - $$$', '$$ - $$$', '$$ - $$$', '$$ - $$$', '$$ - $$$', '$$ - $$$', '$$ - $$$', '$$ - $$$', '$$$$']
30
30
30
30
30

,Name,Cuisine,Review,Point,Price
0,1. n/naka,"Japanese, Sushi",173 reviews,5.0 of 5 bubbles,$$$$
1,2. Raffaello Ristorante,Italian,278 reviews,4.5 of 5 bubbles,$$ - $$$
2,3. Providence,Seafood,796 reviews,4.5 of 5 bubbles,$$$$
3,4. Brent's Deli Northridge,"American, Deli","1,556 reviews",4.5 of 5 bubbles,$$ - $$$
4,5. Langer's,"American, Deli",836 reviews,4.5 of 5 bubbles,$$ - $$$
5,6. Cafe Gratitude Venice,"American, Cafe",486 reviews,4.5 of 5 bubbles,$$ - $$$
6,7. Maccheroni Republic,"Italian, European",359 reviews,4.5 of 5 bubbles,$$ - $$$
7,8. Sushi Gen,"Japanese, Sushi",482 reviews,4.5 of 5 bubbles,$$ - $$$
8,9. Toast Bakery Cafe,"American, Cafe",402 reviews,4.5 of 5 bubbles,$$ - $$$
9,10. The Luggage Room Pizzeria,"Italian, Pizza",248 reviews,4.5 of 5 bubbles,$$ - $$$
10,11. Angelini Osteria,Italian,512 reviews,4.5 of 5 bubbles,$$ - $$$
11,12. Magic Castle,American,402 reviews,4.5 of 5 bubbles,$$$$
12,13. Pampas Grill,"Brazilian, Barbecue",324 reviews,4.5 of 5 bubbles,$
13,14. Russell's,American,425 reviews,4.5 of 5 bubbles,$$ - $$$
14,15. Craft Los Angeles,American,510 reviews,4.5 of 5 bubbles,$$$$
15,16. Lemonade,American,421 reviews,4.5 of 5 bubbles,$$ - $$$
16,17. Raffi's Place Restaurant,"Mediterranean, Middle Eastern",438 reviews,4.5 of 5 bubbles,$$ - $$$
17,18. Din Tai Fung,"Chinese, Asian",489 reviews,4.5 of 5 bubbles,$$ - $$$
18,19. SUGARFISH by sushi nozawa,"Japanese, Seafood",418 reviews,4.5 of 5 bubbles,$$ - $$$
19,20. Parkway Grill,"American, Contemporary",342 reviews,4.5 of 5 bubbles,$$$$
20,21. Nickel Diner,"American, Diner",295 reviews,4.5 of 5 bubbles,$$ - $$$
21,22. The Griddle Cafe,"American, Cafe","1,588 reviews",4.5 of 5 bubbles,$$ - $$$
22,23. Republique,"French, American",593 reviews,4.5 of 5 bubbles,$$ - $$$
23,24. Foxy's Restaurant,American,446 reviews,4.5 of 5 bubbles,$$ - $$$
24,25. Truxton's American Bistro,"American, Bar",268 reviews,4.5 of 5 bubbles,$$ - $$$
25,26. Houston's,"American, Sushi",662 reviews,4.5 of 5 bubbles,$$ - $$$
26,27. Aliki's Greek Taverna,"Mediterranean, Greek",442 reviews,4.5 of 5 bubbles,$$ - $$$
27,28. Gale's Italian Restaurant and Bar,Italian,405 reviews,4.5 of 5 bubbles,$$ - $$$
28,29. Alcove Cafe & Bakery,"American, Cafe",354 reviews,4.5 of 5 bubbles,$$ - $$$
29,30. Musso & Frank Grill,"Steakhouse, American","1,269 reviews",4.5 of 5 bubbles,$$$$

In [84]:
name = []
cuisine = []
review = []
point = []
reviews = driver.find_element(By.CLASS_NAME,'YtrWs').find_elements(By.CLASS_NAME,'YHnoF.Gi.o')
for i in range(1,len(reviews)-10):
    try:
        point.append(reviews[i].find_element(By.CLASS_NAME,'UctUV.d.H0').get_attribute('aria-label').split(" ")[0])
    except:
        point.append(' ')
    
    name.append(reviews[i].find_element(By.CLASS_NAME,'Lwqic.Cj.b').text)
    cuisine.append(reviews[i].find_element(By.CLASS_NAME,'nrKLE.PQvPS.bAdrM').find_elements(By.CLASS_NAME,'ABgbd')[0].text)
    try:
        review.append(reviews[i].find_element(By.CLASS_NAME,'IiChw').text.split(' ')[0])
    except:
        review.append(' ')


df = pd.DataFrame({"Name":name, "Cuisine":cuisine, "Review":review, "Point":point})
df

,Name,Cuisine,Review,Point
0,1. n/naka,"Japanese, Sushi",173,5.0
1,2. Raffaello Ristorante,Italian,278,4.5
2,3. Providence,Seafood,796,4.5
3,4. Brent's Deli Northridge,"American, Deli","1,556",4.5
4,5. Langer's,"American, Deli",836,4.5
5,Workshop Kitchen & Bar Los Angeles,"American, Contemporary",,
6,6. Cafe Gratitude Venice,"American, Cafe",486,4.5
7,7. Maccheroni Republic,"Italian, European",359,4.5
8,8. Sushi Gen,"Japanese, Sushi",482,4.5
9,9. Toast Bakery Cafe,"American, Cafe",402,4.5
10,10. The Luggage Room Pizzeria,"Italian, Pizza",248,4.5
11,Modo Mio cucina rustica,"Italian, Pizza",30,4.5
12,11. Angelini Osteria,Italian,512,4.5
13,12. Magic Castle,American,402,4.5
14,13. Pampas Grill,"Brazilian, Barbecue",324,4.5
15,14. Russell's,American,425,4.5
16,15. Craft Los Angeles,American,510,4.5
17,Samurai Hibachi Grill,"Delivery Only, Japanese",1,5.0
18,16. Lemonade,American,421,4.5
19,17. Raffi's Place Restaurant,"Mediterranean, Middle Eastern",438,4.5
20,18. Din Tai Fung,"Chinese, Asian",489,4.5
21,19. SUGARFISH by sushi nozawa,"Japanese, Seafood",418,4.5
22,20. Parkway Grill,"American, Contemporary",342,4.5
23,Shin,"Japanese, Sushi",55,4.5
24,21. Nickel Diner,"American, Diner",295,4.5
25,22. The Griddle Cafe,"American, Cafe","1,588",4.5

In [7]:
def getReviews(r=10): # range is *30, TODO: make it so you can do any city
    names=[]
    star=[]
    numReviews=[]
    cuisine=[]
    priceRange=[]
    for i in tqdm(range(0, r)):
        driver.get(f"https://www.tripadvisor.com/Restaurants-g32655-oa{i*30}-Los_Angeles_California.html#EATERY_LIST_CONTENTS")
        for restaurant in driver.find_elements(By.CLASS_NAME, "YHnoF.Gi.o"):
            if(not (bool(re.search("[0-9]+", restaurant.get_attribute("data-test"))))):
                continue
            names.append(restaurant.find_element(By.CLASS_NAME, "Lwqic.Cj.b").text)
            star.append(float(restaurant.find_element(By.CLASS_NAME, "UctUV.d.H0").get_attribute("aria-label").split(" ")[0]))
            numReviews.append(int(restaurant.find_element(By.CLASS_NAME, "IiChw").text.split(" ")[0].replace(",", "")))
            cuisine.append(None)
            priceRange.append(None)
            for extraInfo in restaurant.find_element(By.CLASS_NAME, "nrKLE.PQvPS.bAdrM").find_elements(By.CLASS_NAME, "ABgbd"):
                if("$" in extraInfo.text):
                    extraInfo.text.split
                    if(len(extraInfo.text.split(" - "))==1):
                        priceRange[-1]=2*[len(extraInfo.text)]
                    elif(len(extraInfo.text.split(" - "))==2):
                        priceRange[-1]=[len(price) for price in extraInfo.text.split(" - ")]
                else:
                    cuisine[-1]=extraInfo.text
    return pd.DataFrame({"name":names, "stars":star, "numReviews":numReviews, "cuisine":cuisine, "priceRange":priceRange})

In [8]:
df = getReviews(r=1000)

100%|███████████████████████████████████████████| 10/10 [01:14<00:00,  7.43s/it]

,name,stars,numReviews,cuisine,priceRange
0,1. n/naka,5.0,173,"Japanese, Sushi","[4, 4]"
1,2. Raffaello Ristorante,4.5,278,Italian,"[2, 3]"
2,3. Providence,4.5,796,Seafood,"[4, 4]"
3,4. Brent's Deli Northridge,4.5,1556,"American, Deli","[2, 3]"
4,5. Langer's,4.5,836,"American, Deli","[2, 3]"
...,...,...,...,...,...
295,296. KazuNori,4.5,60,"Japanese, Sushi","[2, 3]"
296,297. Pizzeria Il Fico,4.5,106,"Italian, Pizza","[2, 3]"
297,298. Umami Burger,4.5,123,"American, Bar","[2, 3]"
298,299. Sizzler,4.0,136,"American, Steakhouse","[2, 3]"
299,300. Pizzicotto,4.5,98,Italian,"[2, 3]"

In [ ]:
# Abstart : what -> 1. city / 2. rest -> review sentimental
# Intro : why 
# Body: How 
# COn
# refer

In [ ]:
pie bar